.div1 {
    background-color: yellow;
}

.span1 {
    margin-left: 20px;
    margin-right: 20px;
}

.div2 {
    margin-top: 30px;
    background-color: antiquewhite;
}

.span2 {
    margin-left: 150px;
    margin-right: 150px;
}